@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
}

/* shared styles */
.text-primary{
    color: #FD6E0A;
}

.dark-02{
    color: #474747;
}

.dark-03{
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 32px;
}

/* header style */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}
/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 200px;
    height: 650px;
}

.banner-content{
    width: 610px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title{
    font-size: 75px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.banner-description{
    font-size: 18px;
}

.banner-image{
    width: 580px;
}