@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
}

/* shared styles */
.bg-secondary{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

.dark-02{
    color: #474747;
}

.dark-03{
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 32px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

/* responsive button */
/* @media screen and (max-width: 360px){
    .btn-primary{
        font-size: 16px;
        padding: 8px 16px;
    }
    .section-title{
        font-size: 18px;
    }
    .section-description{
        font-size: 11px;
    }
} */

/* header style */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}
/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* nav responsive style */
/* @media screen and (max-width: 360px) {
    .header{
        max-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px auto;
        background-image: none;
    }
    nav{
        flex-direction: column;
        margin: 0px;
    }
    .nav-title{
        font-weight: 800;
        font-size: 35px;
        margin: 0;
    }
    nav ul{
        flex-direction: column;
        gap: 12px;
        padding: 0;
    }
} */

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 200px;
    height: 650px;
}

.banner-content{
    max-width: 610px;
    margin-bottom: 20px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title{
    font-size: 75px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.banner-description{
    font-size: 18px;
}

.banner-image{
    max-width: 580px;
}

/* nav responsive style */
/* @media screen and (max-width: 360px){
    .banner{
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 5px 0 20px;
        height: 560px;
        max-width: 360px;
    }
    .banner-content{
        max-height: 400px;
        max-width: 340px;
    }
    .banner-greetings{
        font-size: 25px;
        font-weight: 600;
        margin: 0;
    }
    .banner-title{
        font-size: 45px;
        font-weight: bold;
        margin: 0;
    }
    .banner-description{
        font-size: 14px;
        margin: 8px 0px;
    }
    .banner-image{
        max-width: 280px;
    }
} */

/* main style */
main{
    width: 1140px;
    margin: 130px auto;
}

/* @media screen and (max-width: 360px) {
    main{
        max-width: 360px;
        margin: 50px auto;
    }
} */

/* About section style */
.about{
    padding: 110px 130px;
    text-align: center;
    border-radius: 10px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.about-bg-white{
    background-color: #FFFFFF;
    padding: 10px;
}

.item-title{
    font-size: 20px;
    margin-bottom: 0;
}

.item-description{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

/* about resposive style */
/* @media screen and (max-width: 360px){
    .about{
        padding: 15px 20px;
        max-width: 200px;
        margin: 0px 10px;
    }
    .about-items{
        flex-direction: column;
    }
    .about-bg-white{
        padding: 5px;
    }
    .item-title{
        font-size: 14px;
        margin-bottom: 0;
    }
    .item-description{
        font-size: 14px;
        font-weight: bold;
        margin-top: 5px;
    }
} */

.what-i-do-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-i-do-content{
    width: 909px;
    text-align: center;
    margin: 100px 0px 50px 0px;
}
.card-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-items{
    width: 267px;
    height: 377px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-item{
    padding: 25px;
}

.card-title{
    color: rgb(24, 24, 24);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
}

/* resume section style */
.resume-container{
    margin-top: 130px;
}
.resume-container > h2{
    text-align: center;
    margin-bottom: 100px;
}

.education-items > h2, .experience-items > h2{
    font-size: 30px;
}

.resume-content{
    display: flex;
    justify-content: space-between;
}

.education-item, .experience-item{
    width: 511px;
    height: 175px;
    margin-bottom: 28px;
}

/* contact us section style */
.contact-us-content{
    width: 1140px;
    height: 500px;
    margin: 50px auto 0px;
    display: flex;
    justify-content: space-between;
}

.social{
    width: 45%;
}

.social p{
    font-size: 15px;
}

.social-icon{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.form-side{
    width: 50%;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-fill{
    width: 75%;
    height: 64px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    border: none;
    padding: 5px;
}

